.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

.wrapper canvas,.wrapper div {
    position: absolute;
    top: 0;
    left: 0;
}

    .layer-map {
        border: 1px solid #ccc;
        width: 500px;
        height: 500px;
        margin-right: auto;
        margin-left: auto;
    }

input[type=color]{
    width: 50%;
}


.canvas-invert{
    filter: invert(100%);
}

