<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2>Settings</h2>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="number" class="form-control" id="latitude" placeholder="Enter latitude" step="0.000001"
                    [(ngModel)]="mapDetails.latitude" (change)="resetMap(this.mapDetails, true)">
            </div>

            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="number" class="form-control" id="longitude" placeholder="Enter longitude" step="0.000001"
                    [(ngModel)]="mapDetails.longitude" (change)="resetMap(this.mapDetails, true)">
            </div>

            <div class="form-group">
                <label for="zoom">Zoom</label>
                <input type="range" class="form-control" id="zoom" placeholder="Zoom" step="1" min="1" max="22"
                    [(ngModel)]="mapDetails.zoom" (change)="resetMap(this.mapDetails, true)">
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hotReload" [(ngModel)]="hotReload"
                    (change)="renderCapture()">
                <label class="form-check-label" for="hotReload">Hot Reload Preview<span
                        title="Use with caution. Erratic map pans and zooms can cause this to break. I recommend using this with the inputs to the left">❔</span></label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="invert" [(ngModel)]="invert">
                <label class="form-check-label" for="invert">Invert Output</label>
            </div>

            <div class="d-flex my-2" style="align-items: center;">
                <button class="btn btn-secondary me-2" (click)="loadMaps()"
                    title="Sometimes needed if the maps disapear"> Reload Maps</button>
                <button class="btn btn-primary" (click)="renderCapture()"> Load Preview</button>
            </div>

            <hr>

            <h2>Layer Settings</h2>
            <div class="ms-2 mb-2" *ngFor="let details of layerDetails">
                <h4>{{details.name}}</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [id]="details.checkId"
                        [(ngModel)]="details.visible">
                    <label class="form-check-label" [for]="details.checkId">Show {{ details.name}} In
                        Preview</label>
                </div>

                <div class="form-group">
                    <label [for]="details.colorId">Layer Color - {{details.colorHex}}</label>
                    <input type="color" class="form-control" [id]="details.colorId" [(ngModel)]="details.colorHex"
                        (change)="renderCapture()">
                </div>
            </div>
        </div>
        <div class="col-md">
            <h2>Layers</h2>
            <div class="map-scroll">
                <div *ngFor="let details of layerDetails">
                    <h2>{{details.name}}</h2>
                    <div [id]="details.divId" class="layer-map"></div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div>
                <div class="d-flex">
                    <h2 class="me-2">Preview</h2>

                    <div *ngIf="loading" class="spinner-border" role="status">
                    </div>
                </div>

                <div class="wrapper" [class.bg-black]="invert">
                    <canvas *ngFor="let details of getStackedLayers" [id]="details.outputId" width="500" height="500"
                        [style]="{opacity: details.opacity ?? '1'}" [class.d-none]="!details.visible || loading"
                        [class.canvas-invert]="invert"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>