.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}