<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="w-100 d-flex" style="position: absolute; z-index: 0;">
    <a class="text-white ms-auto me-2" href="https://github.com/masonkuck/MapRipper?tab=readme-ov-file#map-ripper"
      target="_blank">What am I looking at?</a>
  </div>
  <div class="w-100 d-flex align-items-center justify-content-center" style="z-index: 100;">
    <a class="navbar-brand">Map Ripper</a>
    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#settingsDrawer">⚙️ Open
      Settings</button>

  </div>
</nav>


<app-map-container>